
@font-face {
    font-family: "PetitaBold";
    src: url(../fonts/PetitaBold.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

html.backdrop {
  background: url(../images/bailbo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  display: block;
}

html, body {
  height: 89%;
   max-width: 100%;
  
}

/*////////////////// NAVBAR HEADER LOGO /////////////////*/

header {
  display: inline;
}


#nav_bar {
  float: right;
  display: inline;
  word-spacing: 4em;
  font-weight: ;
  margin: 52px 40px 0px 0px;
  font-family: "PetitaBold", sans-serif;
  text-transform: lowercase; 
}


#nav_bar nav a {
  color: #2A2D2D;
  text-decoration: none;

}

#nav_bar nav a.selected {
  color: #2A2D2D;
}

#nav_bar nav a:hover {
  color: #ccc;
  text-decoration: none;

}

#logo h1 {
  height: 67px;
  width: 300px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 18px;
  background: url(../images/BAILgrey.png) no-repeat;
  background-size: 100%;
  margin-left: 24px;

}

#logo {
  padding-top: 18px;
}

/*////////////////// WEBSITE ENTER PAGE /////////////////*/


#enter {
  text-align: center;
  
}

#enter a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(../images/BBB.gif) no-repeat;
  background-size: 100%;
  text-decoration: none;
  width: 90%;
  max-width: 100%;
  height: 334px;

  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

#enter img {
  width: 100%;
  max-width: 100%;
}

#enter a:hover {
  opacity:0.6; 
}


/*////////////////// WORK PAGE /////////////////*/

section #work_body {
  display: inline;
  margin: 0 auto;
  width: 100%;
}



.col-1-4 {
  margin-top: 135px;
  width: 23.5%;
  float: left;
  margin-left: 2%;
}

.col-1-4:first-child {
  margin-left: 0%;
}

.category {
  position: relative;
}

.category img {
  position:relative;
  display: block;
  width: 100%;
  max-width: 100%;
  left: 0;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.2s;
}

.category .caption {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 9px;
  z-index: 0;
  background: #fff;
  color: #000;
  height: 100%;
  min-height: 100%;
  width: 100%;
  max-width: 100%; 
  font-family: "PetitaBold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1em;
}


.category img:hover {
  opacity: 0.3;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/*//////// ABOUT PAGE ///////*/

html #about{
  background color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline;
}

.child-1-2 img {
  width: 600px;
  padding-top: 45px;
  width: 95%;
  max-width: 100%;
}

.col-1-1 {
  width: 42.5%;
  float: left;
  padding-left: 11px;
}

.col-1-2 {
  width: 57%;
  float: left;
}

.child-1-1 p {
  float: left;
  margin-top: 41px;
  font-family: "PetitaBold", sans-serif;
  text-transform: lowercase;

}

.contact {
  padding-top: 25px;
  font-family: "PetitaBold", sans-serif;
  text-transform: uppercase;
  display: block;
  
}

.child-1-1 a {
padding-top: 25px;
font-family: "PetitaBold", sans-serif;
font-size: 40px;
text-decoration: none;
color: #2A2D2D;
display: inline-block;

}

.child-1-1 a:hover {
  color: pink;
}

.child-1-1 a.tumblr {
  margin-left: 5px;
}



/*////////////////// FOOTER /////////////////*/

 footer {
  text-align: left; 
  font-size: 15px;
  padding: 4px;
  background: white;
  font-family: "PetitaBold", sans-serif;
}

footer h6{
  margin-top: 30px;
  margin-left: 12px;
  display: inline-block;
}

.ceb {
  float: right;
  margin-top: 30px;
  margin-right: 12px;
  display: inline-block;
}

/*////////////////// IMAGE SLIDER /////////////////*/

.outer { 
overflow: scroll; 
width: 100%; 
height: 730px;
padding-top: 20px;
}

.inner { 
width: 10250px; 
}

.travel .inner { 
width: 14600px; 
}

.event .inner { 
width: 3850px; 
}

.inner img { 
margin-right: 20px; 
}

.wrapper {
  width: 95%;
  margin: 0 auto -5px; 
  min-height: 100%;
  height: auto;
  margin-top: 50px;
}


/*///// MEDIA QUERIES ///////*/

@media only screen and (max-width: 1010px) {

  .category .caption {
    font-size: 14px;
  }
}


@media only screen and (max-width: 920px) {

  .category .caption {
    font-size: 23px;
  }

  .col-1-4 {
    margin-top: 104px;
    width: 44.5%;
    margin-left: 0px;
  }

  .col-1-4:first-child {
    margin-left: 0px;
  }

  .travel {
    margin-right: 86px;
  }

  .fashion {
    margin-right: 86px;
  }

  .wrapper {
    width: 92%;
  }

footer {
  margin-top: 50px;
}


}


@media only screen and (max-width: 849px) {

.col-1-4 {
    width: 43.5%;
  }

}



@media only screen and (max-width: 822px) {



  .col-1-4 {
    margin-top: 104px;
    width: 43.5%;
    margin-left: 0px;
  }

  .col-1-4:first-child {
    margin-left: 0px;
  }

  .travel {
    margin-right: 86px;
  }

  .fashion {
    margin-right: 86px;
  }
}


@media only screen and (max-width: 783px) {

#nav_bar {

  word-spacing: 2em;
  
}

.travel {
    margin-right: 37px;
  }

  .fashion {
    margin-right: 37px;
    margin-top: 37px;
  }

  .events {
    margin-top: 37px;
  }

.col-1-4 {
    width: 46.5%;
  }

}




@media only screen and (max-width: 760px) {

  .category .caption {
    font-size: 18px;
  }

}




@media only screen and (max-width: 718px) {

 .travel {
    margin-right: 37px;
  }

  .fashion {
    margin-right: 37px;
    margin-top: 37px;
  }

  .events {
    margin-top: 37px;
  }
}




@media only screen and (max-width: 725px) {
  .col-1-1 {
    width: 99.5%;
    padding-left: 0px;
    margin-bottom: 150px;
  }

.col-1-2 {
  width: 105%;

}

}



@media only screen and (max-width: 715px) {

#nav_bar {

  word-spacing: 1em;
}

}




@media only screen and (max-width: 675px) {

#nav_bar {

  word-spacing: 1em;
}

.travel {
    margin-right: 37px;
  }

  .fashion {
    margin-right: 37px;
    margin-top: 37px;
  }

  .events {
    margin-top: 37px;
  }

.col-1-4 {
    width: 46.5%;
  }

}


@media only screen and (max-width: 656px) {

 #nav_bar {

  word-spacing: 1em;
  top: 54px;
  position: absolute;
  padding-left: 24px;
}
 
.child-1-2 img {
  padding-top: 40px;
}

}

@media only screen and (max-width: 574px) {

.col-1-4 {
    width: 48.5%;
  }

.category .caption {
    font-size: 16px;
  }  

.travel {
    margin-right: 15px;
  }

  .fashion {
    margin-right: 15px;
    margin-top: 15px;
  }

  .events {
    margin-top: 15px;
  }

}

@media only screen and (max-width: 542px) {

.col-1-4 {
    width: 47.5%;
    margin-top: 15px;
  }

#logo {
  margin-bottom: 90px;
}
 } 

 @media only screen and (max-width: 470px) {

.col-1-4 {
    width: 100%;
  }

.category .caption {
    font-size: 22px;
  }   


 } 



/*

/* ----------- iPhone 6 ----------- */
/* Portrait */

/*
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

.travel {
    margin-right: 46px;
  }

  .fashion {
    margin-right: 46px;
    margin-top: 37px;
    margin-left: 0px;
  }

  .events {
    margin-top: 37px;
  }

.col-1-4 {
    width: 46.5%;
  }


   #nav_bar {
  font-size: 29px;  
  word-spacing: 1em;
  position: relative;
  margin-right: 85px;
}
 
.child-1-2 img {
  padding-top: 40px;
}

.outer {
  position: relative;
  top: 219px;
}

.col-1-4 a {
    text-decoration: none;
  }

.category .caption {
  position: relative;
  top: 10px;

}

.category .caption {
    font-size: 27px;
  } 

 #logo {
  padding-top: 30px;
 } 

 a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
} 

.col-1-1 {
  width: 100%;
}

.col-1-2 {
  width: 103%;
}

.child-1-2 img {
  width: 97%;
}

.child-1-1 p {
  font-size: 18px;
}

footer {
  font-size: 25px;
}

.wrapper {
  min-height: 115%;
}

}


/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .travel {
    margin-right: 46px;
  }

  .fashion {
    margin-right: 46px;
    margin-top: 37px;
    margin-left: 0px;
  }

  .events {
    margin-top: 37px;
  }

.col-1-4 {
    width: 46.5%;
  }


   #nav_bar {
  font-size: 29px;  
  word-spacing: 1em;
  position: relative;
  margin-right: 85px;
}
 
.child-1-2 img {
  padding-top: 40px;
}

.outer {
  position: relative;
  top: 219px;
}

.col-1-4 a {
    text-decoration: none;
  }

.category .caption {
  position: relative;
  top: 10px;

}

.category .caption {
    font-size: 27px;
  } 

 #logo {
  padding-top: 30px;
 } 

 a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
} 

.col-1-1 {
  width: 100%;
}

.col-1-2 {
  width: 103%;
}

.child-1-2 img {
  width: 97%;
}

.child-1-1 p {
  font-size: 18px;
}

footer {
  font-size: 25px;
}

.wrapper {
  min-height: 115%;
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {


#nav_bar {
  margin-right: 100px;
  word-spacing: 2em;
  font-size: 20px;
  margin-top: 46px;
}

.col-1-4 {
  margin-top: 27px;
  width: 23.5%;
}
.col-1-4 a {
    text-decoration: none;
  }

.category .caption {
  position: relative;
  top: 10px;

}

.category .caption {
    font-size: 16px;
  } 

footer {
  padding: 10px;
} 

 a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}  

}
