
@font-face {
    font-family: "PetitaBold";
    src: url(../fonts/PetitaBold.ttf);
}

html.backdrop {
  background: url(../images/Katya.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*////////////////// NAVBAR HEADER LOGO /////////////////*/

header {
  display: inline;
}


#nav_bar {
  float: right;
  display: inline;
  word-spacing: 4em;
  font-weight: ;
  margin: 55px 40px 0px 0px;
  font-family: "PetitaBold", sans-serif;
  text-transform: lowercase; 
}


#nav_bar nav a {
  color: #2A2D2D;
  text-decoration: none;

}

#nav_bar nav a.selected {
  color: #2A2D2D;
}

#nav_bar nav a:hover {
  color: #ccc;
  text-decoration: none;

}

#logo h1 {
  height: 67px;
  width: 300px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 18px;
  background: url(../images/BAILgrey.png) no-repeat;
  background-size: 100%;

}

#logo {
  padding-top: 18px;
  padding-left: 18px; 
}

/*////////////////// WEBSITE ENTER PAGE /////////////////*/

#enter a {
  display: inline-block;
  height: 54px;
  width: 381px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 395px 720px;
  background: url(../images/BAILwhite.png) no-repeat;
  background-size: 100%;
  text-decoration: none;
  position: fixed;
}

#enter a:hover {
  opacity:0.6; 
}


/*////////////////// WORK PAGE /////////////////*/

section #work_body {
  display: inline;
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
}

.col-1-4 img {
  display: inline;
  float: left;
  height: 280px;
  width: 280px;
  padding: 15px;
  overflow: hidden;
  margin-top: 180px;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.col-1-4 img:hover { 
  opacity: 0.3; 
  filter: alpha(opacity=30); 
 } 


/*//////// ABOUT PAGE ///////*/

html #about{
  background color: white
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#aboutbody img {
  width: 800px;
  padding-left: 34px;
  padding-top: 45px;
  position: fixed;
}

.col-1-1 {
  width: 66.66%;
  float: left;
}

.col-1-2 {
  width: 33.33%;
}

.col-1-2 p {
  width: 33.33%;
  float: right;
}


/*////////////////// FOOTER /////////////////*/

 footer h6 {
  font-family: "PetitaBold", sans-serif;
  margin: 18px;
  padding-top: 100px;
  float: left;
  bottom: -30px;
  position: fixed;
  
 }

 #foot {
  width: 100%;
 }

/*////////////////// IMAGE DIV /////////////////*/

.outer { 
overflow: scroll; 
width: 100%; 
height: 712px;
margin-left: 35px;
padding-top: 20px;
}

.inner { 
width: 10250px; 
}

.travel .inner { 
width: 14600px; 
}

.event .inner { 
width: 3850px; 
}

.inner img { 
margin-right: 20px; 
}




