
@font-face {
    font-family: "PetitaBold";
    src: url(../fonts/PetitaBold.ttf);
}

html.backdrop {
  background: url(../images/Katya.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  display: inline;
}


#nav_bar {
  float: right;
  display: inline;
  word-spacing: 4em;
  font-weight: ;
  margin: 55px 40px 0px 0px;
  font-family: "PetitaBold", sans-serif;
  text-transform: lowercase; 
}


#nav_bar nav a {
  color: #2A2D2D;
  text-decoration: none;

}

#nav_bar nav a.selected {
  color: #2A2D2D;
}

#nav_bar nav a:hover {
  color: #ccc;
  text-decoration: none;

}

#logo h1 {
  height: 67px;
  width: 300px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 18px;
  background: url(../images/BAILgrey.png) no-repeat;
  background-size: 100%;
  
}

#logo {
  padding-top: 18px;
  padding-left: 18px; 
}

#enter a {
  display: inline-block;
  height: 54px;
  width: 381px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 395px 720px;
  background: url(../images/BAILwhite.png) no-repeat;
  background-size: 100%;
  text-decoration: none;
  position: fixed;
}

#enter a:hover {
  opacity:0.6; 
}


html #about{
  background color: white
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div #work_body {
  display: inline;
  margin: 0 auto;
  margin-top: 100px;
}

.col-1-4 img {
  display: inline;
  float: left;
  height: 280px;
  width: 280px;
  padding: 15px;
  overflow: hidden;
  margin-top: 180px;
}

.col-1-4 a:hover {
  opacity: 0.9;
  filter: alpha(opacity=100);
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#aboutbody img {
  float: left;
  display: inline;
  width: 1200px;
  padding-left: 34px;
  padding-top: 45px;
  position: fixed;
}

#aboutbody span.about1.about3 {
  float: right;
  position: absolute;
  padding: 108px 520px;
  width: 500px;
  font-family: "PetitaBold", sans-serif;
  margin-top: 200px;
  color: #fff;
  letter-spacing: .1em;

}


#aboutbody span.about2 {
  float: right;
  position: absolute;
  padding: 108px 520px;
  width: 500px;
  font-family: "PetitaBold", sans-serif;
  margin-top: 200px;
  color: #ccc;
  letter-spacing: .1em;

}
 footer h6 {
  font-family: "PetitaBold", sans-serif;
  margin: 18px;
  padding-top: 100px;
  
 }







